# Image registry. Options:
# ghcr.io/qvarkk             — GitHub Container Registry (may be slow/blocked in Russia)
# registry.gitlab.com/qvarkk — GitLab Container Registry (more stable in Russia)
REGISTRY=ghcr.io/qvarkk

DEBUG=true

API_PORT=6767

DB_HOST="pg"
DB_PORT=5432
DB_DATABASE="kvault"
DB_USERNAME="postgres"
DB_PASSWORD="postgres"

REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_USER="redis"
REDIS_PASSWORD="redis"
REDIS_QUEUE_DB=0
REDIS_CACHE_DB=1

CACHE_ENABLED=true
CACHE_ITEMS_TTL=5m
CACHE_FILES_TTL=10m
CACHE_TAGS_TTL=15m
CACHE_STOPWORDS_TTL=30m

AWS_ACCESS_KEY_ID="YOUR_ACCESS_KEY"
AWS_SECRET_ACCESS_KEY="YOUR_SECRET_KEY"
AWS_REGION="garage"
AWS_ENDPOINT_URL="http://garage:3900"
AWS_S3_BUCKET="kvault-bucket"
AWS_URL_EXPIRATION=60s
AWS_VIEW_URL_EXPIRATION=24h
AWS_PUBLIC_ENDPOINT_URL="http://localhost:3900"

WORKER_CONCURRENT_TASKS=10